<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto p-4 shadow">
      <form id="slogan-form">
      <div class="mb-3">
        <label for="first_name">First name</label>
        <input class="form-control" type="text" name="first_name" id="first_name">
        <div class="invalid-feedback"></div>
      </div>
    <div class="mb-3">
        <label for="last_name">Last name</label>
        <input class="form-control" type="text" name="last_name" id="last_name">
          <div class="invalid-feedback"></div>
      </div>

      <div class="mb-3">
        <label for="Email">Email</label>
        <input class="form-control" type="email" name="email" id="mail">
          <div class="invalid-feedback"></div>
      </div> 
      <div class="mb-3">
        <label for="suggestion">Slogan</label>
        <input class="form-control" type="text" name="suggestion" maxLength="50" id="suggestion">
          <div class="invalid-feedback"></div>
      </div>
      <div>
        <input type="submit" value="Submit Slogan" class="btn btn-success mt-5">
      </div>
      <div id="result" class="mt-4"></div>
</form>

    </div>
  </div>
              <script src="form_controller.js"><script>

</div>